--
-- PostgreSQL database dump
--

\restrict OGVdLYBIvGLQsCzvaqsR4HvFIRAUtqHwOCiwVnBdecZJLSYoYYup0ljrrDVIyH5

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AiSummaryStatus; Type: TYPE; Schema: public; Owner: unihub
--

CREATE TYPE public."AiSummaryStatus" AS ENUM (
    'PENDING',
    'PROCESSING',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public."AiSummaryStatus" OWNER TO unihub;

--
-- Name: NotificationChannel; Type: TYPE; Schema: public; Owner: unihub
--

CREATE TYPE public."NotificationChannel" AS ENUM (
    'IN_APP',
    'EMAIL',
    'TELEGRAM'
);


ALTER TYPE public."NotificationChannel" OWNER TO unihub;

--
-- Name: NotificationStatus; Type: TYPE; Schema: public; Owner: unihub
--

CREATE TYPE public."NotificationStatus" AS ENUM (
    'PENDING',
    'SENT',
    'FAILED',
    'SKIPPED'
);


ALTER TYPE public."NotificationStatus" OWNER TO unihub;

--
-- Name: OfflineSyncStatus; Type: TYPE; Schema: public; Owner: unihub
--

CREATE TYPE public."OfflineSyncStatus" AS ENUM (
    'PENDING',
    'SYNCED',
    'FAILED',
    'DUPLICATE',
    'CONFLICT'
);


ALTER TYPE public."OfflineSyncStatus" OWNER TO unihub;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: unihub
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'PAID',
    'FAILED',
    'EXPIRED',
    'INIT_FAILED',
    'REFUND_PENDING',
    'REFUNDED',
    'NEEDS_MANUAL_REVIEW'
);


ALTER TYPE public."PaymentStatus" OWNER TO unihub;

--
-- Name: QrTokenStatus; Type: TYPE; Schema: public; Owner: unihub
--

CREATE TYPE public."QrTokenStatus" AS ENUM (
    'ACTIVE',
    'USED',
    'EXPIRED',
    'REVOKED'
);


ALTER TYPE public."QrTokenStatus" OWNER TO unihub;

--
-- Name: RegistrationStatus; Type: TYPE; Schema: public; Owner: unihub
--

CREATE TYPE public."RegistrationStatus" AS ENUM (
    'PENDING_PAYMENT',
    'CONFIRMED',
    'PAYMENT_FAILED',
    'CANCELLED'
);


ALTER TYPE public."RegistrationStatus" OWNER TO unihub;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: unihub
--

CREATE TYPE public."Role" AS ENUM (
    'STUDENT',
    'ORGANIZER',
    'CHECKIN_STAFF',
    'ADMIN'
);


ALTER TYPE public."Role" OWNER TO unihub;

--
-- Name: StudentImportStatus; Type: TYPE; Schema: public; Owner: unihub
--

CREATE TYPE public."StudentImportStatus" AS ENUM (
    'PENDING',
    'RUNNING',
    'DONE',
    'DONE_WITH_ERRORS',
    'FAILED'
);


ALTER TYPE public."StudentImportStatus" OWNER TO unihub;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: unihub
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'LOCKED',
    'PENDING_VERIFICATION'
);


ALTER TYPE public."UserStatus" OWNER TO unihub;

--
-- Name: WorkshopStatus; Type: TYPE; Schema: public; Owner: unihub
--

CREATE TYPE public."WorkshopStatus" AS ENUM (
    'DRAFT',
    'PUBLISHED',
    'CANCELLED',
    'COMPLETED'
);


ALTER TYPE public."WorkshopStatus" OWNER TO unihub;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO unihub;

--
-- Name: ai_documents; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.ai_documents (
    id text NOT NULL,
    workshop_id text NOT NULL,
    uploaded_by_id text NOT NULL,
    file_name text NOT NULL,
    content_type text NOT NULL,
    size_bytes integer NOT NULL,
    storage_key text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.ai_documents OWNER TO unihub;

--
-- Name: ai_summaries; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.ai_summaries (
    id text NOT NULL,
    workshop_id text NOT NULL,
    document_id text NOT NULL,
    status public."AiSummaryStatus" DEFAULT 'PENDING'::public."AiSummaryStatus" NOT NULL,
    summary_text text,
    error_message text,
    model_version text,
    prompt_version text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.ai_summaries OWNER TO unihub;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    actor_id text,
    action text NOT NULL,
    entity_type text NOT NULL,
    entity_id text,
    old_value jsonb,
    new_value jsonb,
    request_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO unihub;

--
-- Name: checkins; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.checkins (
    id text NOT NULL,
    qr_token_id text NOT NULL,
    workshop_id text NOT NULL,
    staff_id text NOT NULL,
    idempotency_key text,
    client_checkin_id text,
    device_id text,
    checked_in_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.checkins OWNER TO unihub;

--
-- Name: idempotency_keys; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.idempotency_keys (
    id text NOT NULL,
    key text NOT NULL,
    scope text NOT NULL,
    request_hash text NOT NULL,
    response_json jsonb,
    status_code integer,
    expires_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.idempotency_keys OWNER TO unihub;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    user_id text NOT NULL,
    workshop_id text,
    channel public."NotificationChannel" NOT NULL,
    event_type text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    status public."NotificationStatus" DEFAULT 'PENDING'::public."NotificationStatus" NOT NULL,
    dedupe_key text NOT NULL,
    retry_count integer DEFAULT 0 NOT NULL,
    last_error text,
    sent_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.notifications OWNER TO unihub;

--
-- Name: offline_checkin_sync_logs; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.offline_checkin_sync_logs (
    id text NOT NULL,
    client_checkin_id text NOT NULL,
    device_id text NOT NULL,
    workshop_id text NOT NULL,
    staff_id text NOT NULL,
    qr_payload_hash text NOT NULL,
    sync_status public."OfflineSyncStatus" NOT NULL,
    checkin_id text,
    error_code text,
    error_message text,
    synced_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.offline_checkin_sync_logs OWNER TO unihub;

--
-- Name: payment_callbacks; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.payment_callbacks (
    id text NOT NULL,
    payment_id text,
    provider text NOT NULL,
    provider_event_id text NOT NULL,
    provider_transaction_id text,
    valid_signature boolean NOT NULL,
    payload jsonb NOT NULL,
    received_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.payment_callbacks OWNER TO unihub;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.payments (
    id text NOT NULL,
    registration_id text NOT NULL,
    idempotency_key text NOT NULL,
    provider text DEFAULT 'mock'::text NOT NULL,
    provider_order_id text,
    provider_transaction_id text,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    amount numeric(12,2) NOT NULL,
    currency text DEFAULT 'VND'::text NOT NULL,
    payment_url text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.payments OWNER TO unihub;

--
-- Name: qr_tokens; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.qr_tokens (
    id text NOT NULL,
    registration_id text NOT NULL,
    token_hash text NOT NULL,
    token_preview text NOT NULL,
    status public."QrTokenStatus" DEFAULT 'ACTIVE'::public."QrTokenStatus" NOT NULL,
    expires_at timestamp(3) without time zone,
    used_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.qr_tokens OWNER TO unihub;

--
-- Name: registrations; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.registrations (
    id text NOT NULL,
    user_id text NOT NULL,
    workshop_id text NOT NULL,
    status public."RegistrationStatus" DEFAULT 'CONFIRMED'::public."RegistrationStatus" NOT NULL,
    idempotency_key text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.registrations OWNER TO unihub;

--
-- Name: rooms; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.rooms (
    id text NOT NULL,
    name text NOT NULL,
    capacity integer NOT NULL,
    layout_url text,
    status text DEFAULT 'ACTIVE'::text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.rooms OWNER TO unihub;

--
-- Name: speakers; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.speakers (
    id text NOT NULL,
    full_name text NOT NULL,
    title text,
    bio text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.speakers OWNER TO unihub;

--
-- Name: student_import_errors; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.student_import_errors (
    id text NOT NULL,
    run_id text NOT NULL,
    row_number integer NOT NULL,
    student_code text,
    email text,
    error_code text NOT NULL,
    error_message text NOT NULL,
    raw_row jsonb,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.student_import_errors OWNER TO unihub;

--
-- Name: student_import_runs; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.student_import_runs (
    id text NOT NULL,
    file_name text NOT NULL,
    file_hash text NOT NULL,
    import_type text DEFAULT 'LEGACY_STUDENT_CSV'::text NOT NULL,
    status public."StudentImportStatus" DEFAULT 'PENDING'::public."StudentImportStatus" NOT NULL,
    total_rows integer DEFAULT 0 NOT NULL,
    success_rows integer DEFAULT 0 NOT NULL,
    failed_rows integer DEFAULT 0 NOT NULL,
    error_message text,
    created_by_id text,
    started_at timestamp(3) without time zone,
    finished_at timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.student_import_runs OWNER TO unihub;

--
-- Name: student_profiles; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.student_profiles (
    id text NOT NULL,
    user_id text,
    student_code text NOT NULL,
    email text NOT NULL,
    full_name text NOT NULL,
    major text,
    class_name text,
    verified_at timestamp(3) without time zone,
    imported_at timestamp(3) without time zone
);


ALTER TABLE public.student_profiles OWNER TO unihub;

--
-- Name: users; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    full_name text NOT NULL,
    roles public."Role"[] DEFAULT ARRAY['STUDENT'::public."Role"] NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO unihub;

--
-- Name: workshop_speakers; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.workshop_speakers (
    id text NOT NULL,
    workshop_id text NOT NULL,
    speaker_id text NOT NULL
);


ALTER TABLE public.workshop_speakers OWNER TO unihub;

--
-- Name: workshops; Type: TABLE; Schema: public; Owner: unihub
--

CREATE TABLE public.workshops (
    id text NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    category text NOT NULL,
    room_id text NOT NULL,
    created_by_id text NOT NULL,
    start_time timestamp(3) without time zone NOT NULL,
    end_time timestamp(3) without time zone NOT NULL,
    capacity integer NOT NULL,
    registered_count integer DEFAULT 0 NOT NULL,
    price_amount numeric(12,2) DEFAULT 0 NOT NULL,
    currency text DEFAULT 'VND'::text NOT NULL,
    status public."WorkshopStatus" DEFAULT 'DRAFT'::public."WorkshopStatus" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    cancelled_at timestamp(3) without time zone
);


ALTER TABLE public.workshops OWNER TO unihub;

--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: ai_documents ai_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.ai_documents
    ADD CONSTRAINT ai_documents_pkey PRIMARY KEY (id);


--
-- Name: ai_summaries ai_summaries_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.ai_summaries
    ADD CONSTRAINT ai_summaries_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: checkins checkins_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.checkins
    ADD CONSTRAINT checkins_pkey PRIMARY KEY (id);


--
-- Name: idempotency_keys idempotency_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.idempotency_keys
    ADD CONSTRAINT idempotency_keys_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: offline_checkin_sync_logs offline_checkin_sync_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.offline_checkin_sync_logs
    ADD CONSTRAINT offline_checkin_sync_logs_pkey PRIMARY KEY (id);


--
-- Name: payment_callbacks payment_callbacks_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.payment_callbacks
    ADD CONSTRAINT payment_callbacks_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: qr_tokens qr_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.qr_tokens
    ADD CONSTRAINT qr_tokens_pkey PRIMARY KEY (id);


--
-- Name: registrations registrations_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT registrations_pkey PRIMARY KEY (id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: speakers speakers_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.speakers
    ADD CONSTRAINT speakers_pkey PRIMARY KEY (id);


--
-- Name: student_import_errors student_import_errors_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.student_import_errors
    ADD CONSTRAINT student_import_errors_pkey PRIMARY KEY (id);


--
-- Name: student_import_runs student_import_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.student_import_runs
    ADD CONSTRAINT student_import_runs_pkey PRIMARY KEY (id);


--
-- Name: student_profiles student_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.student_profiles
    ADD CONSTRAINT student_profiles_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: workshop_speakers workshop_speakers_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.workshop_speakers
    ADD CONSTRAINT workshop_speakers_pkey PRIMARY KEY (id);


--
-- Name: workshops workshops_pkey; Type: CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.workshops
    ADD CONSTRAINT workshops_pkey PRIMARY KEY (id);


--
-- Name: ai_documents_workshop_id_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX ai_documents_workshop_id_idx ON public.ai_documents USING btree (workshop_id);


--
-- Name: ai_summaries_status_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX ai_summaries_status_idx ON public.ai_summaries USING btree (status);


--
-- Name: ai_summaries_workshop_id_document_id_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX ai_summaries_workshop_id_document_id_key ON public.ai_summaries USING btree (workshop_id, document_id);


--
-- Name: audit_logs_created_at_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX audit_logs_created_at_idx ON public.audit_logs USING btree (created_at);


--
-- Name: audit_logs_entity_type_entity_id_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX audit_logs_entity_type_entity_id_idx ON public.audit_logs USING btree (entity_type, entity_id);


--
-- Name: checkins_idempotency_key_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX checkins_idempotency_key_key ON public.checkins USING btree (idempotency_key);


--
-- Name: checkins_qr_token_id_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX checkins_qr_token_id_key ON public.checkins USING btree (qr_token_id);


--
-- Name: checkins_staff_id_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX checkins_staff_id_idx ON public.checkins USING btree (staff_id);


--
-- Name: checkins_workshop_id_checked_in_at_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX checkins_workshop_id_checked_in_at_idx ON public.checkins USING btree (workshop_id, checked_in_at);


--
-- Name: idempotency_keys_expires_at_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX idempotency_keys_expires_at_idx ON public.idempotency_keys USING btree (expires_at);


--
-- Name: idempotency_keys_scope_key_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX idempotency_keys_scope_key_key ON public.idempotency_keys USING btree (scope, key);


--
-- Name: notifications_dedupe_key_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX notifications_dedupe_key_key ON public.notifications USING btree (dedupe_key);


--
-- Name: notifications_event_type_created_at_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX notifications_event_type_created_at_idx ON public.notifications USING btree (event_type, created_at);


--
-- Name: notifications_user_id_status_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX notifications_user_id_status_idx ON public.notifications USING btree (user_id, status);


--
-- Name: offline_checkin_sync_logs_device_id_client_checkin_id_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX offline_checkin_sync_logs_device_id_client_checkin_id_key ON public.offline_checkin_sync_logs USING btree (device_id, client_checkin_id);


--
-- Name: offline_checkin_sync_logs_sync_status_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX offline_checkin_sync_logs_sync_status_idx ON public.offline_checkin_sync_logs USING btree (sync_status);


--
-- Name: offline_checkin_sync_logs_workshop_id_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX offline_checkin_sync_logs_workshop_id_idx ON public.offline_checkin_sync_logs USING btree (workshop_id);


--
-- Name: payment_callbacks_provider_provider_event_id_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX payment_callbacks_provider_provider_event_id_key ON public.payment_callbacks USING btree (provider, provider_event_id);


--
-- Name: payment_callbacks_provider_transaction_id_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX payment_callbacks_provider_transaction_id_idx ON public.payment_callbacks USING btree (provider_transaction_id);


--
-- Name: payment_callbacks_received_at_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX payment_callbacks_received_at_idx ON public.payment_callbacks USING btree (received_at);


--
-- Name: payments_idempotency_key_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX payments_idempotency_key_key ON public.payments USING btree (idempotency_key);


--
-- Name: payments_provider_order_id_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX payments_provider_order_id_idx ON public.payments USING btree (provider_order_id);


--
-- Name: payments_provider_transaction_id_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX payments_provider_transaction_id_key ON public.payments USING btree (provider_transaction_id);


--
-- Name: payments_registration_id_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX payments_registration_id_key ON public.payments USING btree (registration_id);


--
-- Name: payments_status_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX payments_status_idx ON public.payments USING btree (status);


--
-- Name: qr_tokens_expires_at_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX qr_tokens_expires_at_idx ON public.qr_tokens USING btree (expires_at);


--
-- Name: qr_tokens_registration_id_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX qr_tokens_registration_id_key ON public.qr_tokens USING btree (registration_id);


--
-- Name: qr_tokens_status_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX qr_tokens_status_idx ON public.qr_tokens USING btree (status);


--
-- Name: qr_tokens_token_hash_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX qr_tokens_token_hash_key ON public.qr_tokens USING btree (token_hash);


--
-- Name: registrations_idempotency_key_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX registrations_idempotency_key_key ON public.registrations USING btree (idempotency_key);


--
-- Name: registrations_user_id_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX registrations_user_id_idx ON public.registrations USING btree (user_id);


--
-- Name: registrations_user_id_workshop_id_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX registrations_user_id_workshop_id_key ON public.registrations USING btree (user_id, workshop_id);


--
-- Name: registrations_workshop_id_status_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX registrations_workshop_id_status_idx ON public.registrations USING btree (workshop_id, status);


--
-- Name: rooms_capacity_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX rooms_capacity_idx ON public.rooms USING btree (capacity);


--
-- Name: rooms_name_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX rooms_name_key ON public.rooms USING btree (name);


--
-- Name: speakers_full_name_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX speakers_full_name_idx ON public.speakers USING btree (full_name);


--
-- Name: student_import_errors_run_id_row_number_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX student_import_errors_run_id_row_number_key ON public.student_import_errors USING btree (run_id, row_number);


--
-- Name: student_import_errors_student_code_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX student_import_errors_student_code_idx ON public.student_import_errors USING btree (student_code);


--
-- Name: student_import_runs_file_hash_import_type_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX student_import_runs_file_hash_import_type_key ON public.student_import_runs USING btree (file_hash, import_type);


--
-- Name: student_import_runs_status_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX student_import_runs_status_idx ON public.student_import_runs USING btree (status);


--
-- Name: student_profiles_email_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX student_profiles_email_key ON public.student_profiles USING btree (email);


--
-- Name: student_profiles_major_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX student_profiles_major_idx ON public.student_profiles USING btree (major);


--
-- Name: student_profiles_student_code_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX student_profiles_student_code_idx ON public.student_profiles USING btree (student_code);


--
-- Name: student_profiles_student_code_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX student_profiles_student_code_key ON public.student_profiles USING btree (student_code);


--
-- Name: student_profiles_user_id_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX student_profiles_user_id_key ON public.student_profiles USING btree (user_id);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: workshop_speakers_speaker_id_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX workshop_speakers_speaker_id_idx ON public.workshop_speakers USING btree (speaker_id);


--
-- Name: workshop_speakers_workshop_id_speaker_id_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX workshop_speakers_workshop_id_speaker_id_key ON public.workshop_speakers USING btree (workshop_id, speaker_id);


--
-- Name: workshops_room_id_start_time_end_time_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX workshops_room_id_start_time_end_time_idx ON public.workshops USING btree (room_id, start_time, end_time);


--
-- Name: workshops_slug_key; Type: INDEX; Schema: public; Owner: unihub
--

CREATE UNIQUE INDEX workshops_slug_key ON public.workshops USING btree (slug);


--
-- Name: workshops_start_time_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX workshops_start_time_idx ON public.workshops USING btree (start_time);


--
-- Name: workshops_status_category_idx; Type: INDEX; Schema: public; Owner: unihub
--

CREATE INDEX workshops_status_category_idx ON public.workshops USING btree (status, category);


--
-- Name: ai_documents ai_documents_uploaded_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.ai_documents
    ADD CONSTRAINT ai_documents_uploaded_by_id_fkey FOREIGN KEY (uploaded_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ai_documents ai_documents_workshop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.ai_documents
    ADD CONSTRAINT ai_documents_workshop_id_fkey FOREIGN KEY (workshop_id) REFERENCES public.workshops(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ai_summaries ai_summaries_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.ai_summaries
    ADD CONSTRAINT ai_summaries_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.ai_documents(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ai_summaries ai_summaries_workshop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.ai_summaries
    ADD CONSTRAINT ai_summaries_workshop_id_fkey FOREIGN KEY (workshop_id) REFERENCES public.workshops(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: checkins checkins_qr_token_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.checkins
    ADD CONSTRAINT checkins_qr_token_id_fkey FOREIGN KEY (qr_token_id) REFERENCES public.qr_tokens(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: checkins checkins_staff_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.checkins
    ADD CONSTRAINT checkins_staff_id_fkey FOREIGN KEY (staff_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: checkins checkins_workshop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.checkins
    ADD CONSTRAINT checkins_workshop_id_fkey FOREIGN KEY (workshop_id) REFERENCES public.workshops(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: notifications notifications_workshop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_workshop_id_fkey FOREIGN KEY (workshop_id) REFERENCES public.workshops(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: offline_checkin_sync_logs offline_checkin_sync_logs_checkin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.offline_checkin_sync_logs
    ADD CONSTRAINT offline_checkin_sync_logs_checkin_id_fkey FOREIGN KEY (checkin_id) REFERENCES public.checkins(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: offline_checkin_sync_logs offline_checkin_sync_logs_workshop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.offline_checkin_sync_logs
    ADD CONSTRAINT offline_checkin_sync_logs_workshop_id_fkey FOREIGN KEY (workshop_id) REFERENCES public.workshops(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: payment_callbacks payment_callbacks_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.payment_callbacks
    ADD CONSTRAINT payment_callbacks_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: payments payments_registration_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_registration_id_fkey FOREIGN KEY (registration_id) REFERENCES public.registrations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: qr_tokens qr_tokens_registration_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.qr_tokens
    ADD CONSTRAINT qr_tokens_registration_id_fkey FOREIGN KEY (registration_id) REFERENCES public.registrations(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: registrations registrations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT registrations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: registrations registrations_workshop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.registrations
    ADD CONSTRAINT registrations_workshop_id_fkey FOREIGN KEY (workshop_id) REFERENCES public.workshops(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: student_import_errors student_import_errors_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.student_import_errors
    ADD CONSTRAINT student_import_errors_run_id_fkey FOREIGN KEY (run_id) REFERENCES public.student_import_runs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: student_import_runs student_import_runs_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.student_import_runs
    ADD CONSTRAINT student_import_runs_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: student_profiles student_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.student_profiles
    ADD CONSTRAINT student_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: workshop_speakers workshop_speakers_speaker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.workshop_speakers
    ADD CONSTRAINT workshop_speakers_speaker_id_fkey FOREIGN KEY (speaker_id) REFERENCES public.speakers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: workshop_speakers workshop_speakers_workshop_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.workshop_speakers
    ADD CONSTRAINT workshop_speakers_workshop_id_fkey FOREIGN KEY (workshop_id) REFERENCES public.workshops(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: workshops workshops_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.workshops
    ADD CONSTRAINT workshops_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: workshops workshops_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: unihub
--

ALTER TABLE ONLY public.workshops
    ADD CONSTRAINT workshops_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict OGVdLYBIvGLQsCzvaqsR4HvFIRAUtqHwOCiwVnBdecZJLSYoYYup0ljrrDVIyH5

